---
layout: default
id: stay-safe
locale: norway


title: Vår Safe Stay-policy

billboard:
  title: >
    <h1 class="h h--xxl"><span class="text--light">Vår Safe Stay-policy</span></h1>
  subtitle: Secret Escapes hjelper deg med å reise trygt og sikkert
  content: >
    <p class="p--xxl">Vi ønsker deg velkommen tilbake med inspirerende reiser. Ettersom vi alle fortsatt er bekymret for COVID-19, har vi innført følgende SafeStay-retningslinjer for å hjelpe deg med å føle deg trygg på fremtidige reiser.</p>


items-title: "Hvordan vi tar hånd om alle reiser:"


large-items:

  - id: policy
    title: Lokale retningslinjer
    content: Som en del av vår SafeStay-policy, samarbeider vi med hotellene våre for å sikre at de overholder lokale myndigheters helsemessige anbefalinger og retningslinjer. Dette kan bety at noen ting vil være litt annerledes i en periode, men det er viktig at helse og sikkerhet forblir høyest prioritert.

  - id: refundable
    title: 100% kostnadsfri avbestilling
    content: Som svar på den vedvarende usikkerheten rundt reiser har vi en rekke nye refunderbare tilbud, som du kan kansellere opptil 8 dager før avreise, uansett grunn. Dette betyr at du kan bestille på forhånd med trygghet og  fleksibelitet, hvis planene endres.

  - id: best-price
    title: Våre fantastiske priser
    content: Vi har bygget vårt rykte på å tilby våre medlemmer gode tilbud, og prisene våre forblir lave, selv når det gjelder våre refunderbare tilbud.

  - id: handpicked
    title: Håndplukket
    content: Vi har alltid valgt våre hotellpartnere nøye, og vi fortsetter med å håndplukke hotell, slik at vi kan opprettholde standardene våre til våre medlemmers forventninger.

  - id: transparency
    title: Gjennomsiktighet
    content: Hvis COVID-19-retningslinjer påvirker tilbudene våre, gjør vi dette klart i tilbudsbeskrivelsene. Men ettersom hotell kan endre sin policy kontinuerlig, anbefaler vi at du kontakter hotellet ditt slik at du vet nøyaktig hva du kan forvente deg under oppholdet.



deals-banner:
  title: Se vårt utvalg av refunderbare tilbud nå
  content:
  cta: Se tilbud



faq:
  title: Ofte stilte sprørsmål
  content: Les våre Ofte stilte spørsmål for mer informasjon om hva vi gjør i samarbeid med hotellpartnerne våre, slik at du kan reise trygt og sikkert.
  cta: Les mer



---
{% assign locale = site.data.locale.[page.locale] %}

<div class="bg--grey-lightest">
{% include nav/header.html %}

<div class="container vpad--lg">
  {% include page/billboard.html %}

  <div class="space--xxl"></div>
  <div class="text--center">
  <h2 class="h h--sm">{{page.items-title}}</h2>
  </div>
  <div class="space--lg"></div>

  <div class="row">
  {% for item in page.large-items %}
    <div class="col col--xxl-6">
      <div class="bg--white depth--sm rounded--sm card card--lg">
        <div class="card__content">
          <div class="vpad--lg hpad--md">
            <img class="card__icon" src="{{site.img}}/{{page.id}}/{{item.id}}.svg" alt="{{item.title}} icon">

            <h3 class="h h--xs">{{item.title}}</h3>
            <p>{{item.content}}</p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>

  <div class="space--xxxl hideApp"></div>

  <div class="hideApp img img--1-1 img--lg-3-2 img--xxl-21-9 depth--sm rounded--sm" style="background-image: url({{site.img}}/{{page.id}}/deals.jpg);">
    <a href="{{locale.core-site}}" class="img__link"></a>
    <div class="img__content">
      <div class="width width--xl boxpad--lg text--center">
        <h3 class="h h--lg">{{page.deals-banner.title}}</h3>
        {% if page.deals-banner.content %}<p class="p--xl">{{page.deals-banner.content}}</p>{% endif %}
        <div class="space--sm"></div>
        <a href="{{locale.core-site}}" class="btn btn--primary">{{page.deals-banner.cta}}</a>
      </div>
    </div>
    <div class="img__overlay"></div>
  </div>

  <div class="space--xxxl hideApp"></div>

  <div class="text--center hideApp">
    <h3 class="h h--lg">{{page.faq.title}}</h3>
    <p class="p--xxl">{{page.faq.content}}</p>
    <div class="space--sm"></div>
    <a href="{{locale.faq}}" class="btn btn--primary">{{page.faq.cta}}</a>
  </div>

  <div class="space--xxxl"></div>


</div> <!-- /.container -->

{% include nav/footer.html %}
</div> <!-- /.bg--grey-lightest -->