---
layout: default
id: stay-safe
locale: se


title: Vår SafeStay-policy

billboard:
  title: >
    <h1 class="h h--xxl"><span class="text--light">Vår</span> SafeStay <span class="text--light">policy</span></h1>
  subtitle: Känn dig trygg när du reser med Secret Escapes
  content: >
    <p class="p--xxl">Vi är glada att välkomna dig tillbaka med nya inspirerande reseerbjudanden. Men eftersom läget kring COVID-19 fortfarande är osäkert har följande "SafeStay"-policy införts för att försäkra dig om att vi tänker på din trygghet när du reser.</p>


items-title: "Så här tar vi hand om varje resa:"


large-items:

  - id: policy
    title: Lokala riktlinjer
    content: Som en del av vår "SafeStay" -policy arbetar vi med våra hotellpartner för att säkerställa att de följer de allmänna hälsoreglerna som har fastställts av deras lokala myndigheter. Det kan innebära att vissa saker måste vara annorlunda under en period, men det är viktigt att din säkerhet och ditt välbefinnande förblir högsta prioritet.

  - id: refundable
    title: 100% återbetalningsbart
    content: Som respons på den pågående ovissheten kring resor har vi ett nytt utbud av fullt återbetalningsbara erbjudanden som du kan avboka upp till 8 dagar före avresan. Detta innebär att du tryggt kan boka i förväg utan att oroa dig och vara flexibel om planerna ändras.

small-items:

  - id: best-price
    title: Vår bästa pris-garanti
    content: Våra erbjudanden har fortfarande de bästa priserna på marknaden. Vi har byggt vårt varumärke på att erbjuda våra medlemmar fantastiska erbjudanden och våra priser förblir oslagbara, även på våra återbetalningsbara deals.

  - id: handpicked
    title: Handplockat
    content: För att möta våra medlemmars högt ställda förväntningar kommer vi även i fortsättningen handplocka våra hotell med största omsorg.

  - id: transparency
    title: Transparens
    content: I de fall där COVID-19 och social distansering påverkar ett erbjudande, kommer vi vara tydliga med detta i vår kommunikation. Dock kan hotellen ändra sin policy och därför rekommendrar vi att du kontaktar ditt hotell innan avresa så att du vet exakt vad du kan förvänta dig under din vistelse.



deals-banner:
  title: Se vårt utbud av återbetalningsbara erbjudanden
  cta: Se erbjudanden



faq:
  title: Vanliga frågor
  content: Läs vanliga frågor och svar för mer information om hur vi jobbar med våra hotellpartner för att hjälpa dig att resa tryggt
  cta: Läs mer



---

<div class="bg--grey-lightest">
{% include nav/header.html %}

<div class="container vpad--lg">
  {% include page/billboard.html %}

  <div class="space--xl"></div>
  <div class="text--center">
  <h2 class="h h--sm">{{page.items-title}}</h2>
  </div>
  <div class="space--lg"></div>

  <div class="row">
  {% for item in page.large-items %}
    <div class="col col--xxl-6">
      <div class="bg--white depth--sm rounded--sm card card--sm">
        <div class="card__content">
          <div class="vpad--lg hpad--md">
            <img class="card__icon" src="{{site.img}}/{{page.id}}/{{item.id}}.svg" alt="{{item.title}} icon">

            <h3 class="h h--xs">{{item.title}}</h3>
            <p>{{item.content}}</p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  {% for item in page.small-items %}
    <div class="col col--xxl-6">
      <div class="bg--white depth--sm rounded--sm card card--sm">
        <div class="card__content">
          <div class="vpad--lg hpad--md">
            <img class="card__icon" src="{{site.img}}/{{page.id}}/{{item.id}}.svg" alt="{{item.title}} icon">

            <h3 class="h h--xs">{{item.title}}</h3>
            <p>{{item.content}}</p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

    <div class="hideApp col col--xxl-6">
      <div class="img img--4-3 depth--sm rounded--sm card card--sm" style="background-image: url({{site.img}}/{{page.id}}/deals.jpg);">
        <a href="https://www.secretescapes.se/friavbokning/filter" class="img__link"></a>
        <div class="img__content">
          <div class="width width--lg boxpad--lg text--center">
            <h3 class="h h--md">{{page.deals-banner.title}}</h3>
            {% if page.deals-banner.content %}<p class="p--xl">{{page.deals-banner.content}}</p>{% endif %}
            <div class="space--sm"></div>
            <a href="https://www.secretescapes.se/friavbokning/filter" class="btn btn--primary">{{page.deals-banner.cta}}</a>
          </div>
        </div>
        <div class="img__overlay"></div>
      </div>
    </div>

  </div>

  <div class="space--xxl hideApp"></div>

  <div class="text--center width width--xl hideApp">
    <h3 class="h h--lg">{{page.faq.title}}</h3>
    <p class="p--xxl">{{page.faq.content}}</p>
    <div class="space--sm"></div>
    <a href="{{locale.faq}}" class="btn btn--primary">{{page.faq.cta}}</a>
  </div>

  <div class="space--xxl"></div>


</div> <!-- /.container -->

{% include nav/footer.html %}
</div> <!-- /.bg--grey-lightest -->