---
layout: default
id: stay-safe
locale: uk


title: Our SafeStay Policy

billboard:
  title: >
    <h1 class="h h--xxl"><span class="text--light">Our</span> SafeStay <span class="text--light">Policy</span></h1>
  subtitle: Secret Escapes helps you travel with confidence
  content: >
    <p class="p--xxl">We are delighted to be welcoming you back with inspiring travel deals. However, as we all remain concerned about COVID-19, the following 'SafeStay' policies have been put in place to offer you reassurance about travel after lockdown</p>


items-title: "How we’re taking care of every trip:"


large-items:

  - id: policy
    title: Local guidelines
    content: As part of our 'SafeStay' policy, we are working with our hotels to ensure that they comply with the public health regulations as laid down by their local authorities This could mean that some things need to be different for a while, but it is essential that your safety and wellbeing remains the top priority

  - id: refundable
    title: Refundable
    content: In response to ongoing travel uncertainty, we have a new range of fully refundable deals that you can cancel up to 8 days before departure, for any reason. This means you can book ahead with confidence and stay flexible if plans change

small-items:

  - id: best-price
    title: Best price
    content: Our offers continue to be the best priced on the market.  We have built our reputation on offering our members great deals and our prices remain unbeatable, even on our refundable offers

  - id: handpicked
    title: Handpicked
    content: We have always picked our hotel partners carefully and we continue to hand-pick hotels to keep our standards up to our members expectations

  - id: transparency
    title: Transparency
    content: Wherever social distancing and COVID19 plans affect our deals, we are transparent about it in our offer summaries. However, as hotels evolve their policies over time, we encourage you to contact your hotel, so you know exactly what to expect during your stay



deals-banner:
  title: View our selection of refundable deals now
  content:
  cta: View deals



faq:
  title: Frequently asked questions
  content: Read our FAQs for more information on what we’re doing with our hotel partners to help you travel safely
  cta: Read more



---

<div class="bg--grey-lightest">
{% include nav/header.html %}

<div class="container vpad--lg">
  {% include page/billboard.html %}

  <div class="space--xxl"></div>
  <div class="text--center">
  <h2 class="h h--sm">{{page.items-title}}</h2>
  </div>
  <div class="space--lg"></div>

  <div class="row">
  {% for item in page.large-items %}
    <div class="col col--6">
      <div class="bg--white depth--sm rounded--sm card card--lg">
        <div class="card__content">
          <div class="vpad--lg hpad--md">
            <img class="card__icon" src="{{site.img}}/{{page.id}}/{{item.id}}.svg" alt="{{item.title}} icon">

            <h3 class="h h--xs">{{item.title}}</h3>
            <p>{{item.content}}</p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  {% for item in page.small-items %}
    <div class="col col--6 col--xxxl-4">
      <div class="bg--white depth--sm rounded--sm card card--sm">
        <div class="card__content">
          <div class="vpad--lg hpad--md">
            <img class="card__icon" src="{{site.img}}/{{page.id}}/{{item.id}}.svg" alt="{{item.title}} icon">

            <h3 class="h h--xs">{{item.title}}</h3>
            <p>{{item.content}}</p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>

  <div class="space--xxxl"></div>

  <div class="img img--1-1 img--lg-3-2 img--xxl-21-9 depth--sm rounded--sm" style="background-image: url({{site.img}}/{{page.id}}/deals.jpg);">
    <a href="{{locale.core-site}}" class="img__link"></a>
    <div class="img__content">
      <div class="width width--lg boxpad--lg text--center">
        <h3 class="h h--lg">{{page.deals-banner.title}}</h3>
        {% if page.deals-banner.content %}<p class="p--xl">{{page.deals-banner.content}}</p>{% endif %}
        <div class="space--sm"></div>
        <a href="{{locale.core-site}}" class="btn btn--primary">{{page.deals-banner.cta}}</a>
      </div>
    </div>
    <div class="img__overlay"></div>
  </div>

  <div class="space--xxxl"></div>

  <div class="text--center">
    <h3 class="h h--lg">{{page.faq.title}}</h3>
    <p class="p--xxl">{{page.faq.content}}</p>
    <div class="space--sm"></div>
    <a href="{{locale.faq}}" class="btn btn--primary">{{page.faq.cta}}</a>
  </div>

  <div class="space--xxxl"></div>


</div> <!-- /.container -->

{% include nav/footer.html %}
</div> <!-- /.bg--grey-lightest -->