// general styles for the project that wouldn't be a reuseable component

.hideApp {
  body.fromApp & { display: none; }
}




.billboard {
  &__icon {
    width: 30%;
    max-width: 50px;
    margin: auto;
    margin-bottom: $s2;
    @include bp($lg){
      max-width: 80px;
    }
  }
}

.card {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  position: relative;
  @include bp($xxl){
    min-height: 380px;
  }

  &--sm {
    @include bp($xxxl){
      min-height: 440px;
    }
  }
  &__icon {
    width: 50%;
    max-width: 100px;
    margin: auto;
    margin-bottom: $s2;
  }
  &__content {
    flex: 1;
    text-align: center;
  }
}
