// general styles for the project that wouldn't be a reuseable component

.billboard {
  &__icon {
    width: 30%;
    max-width: 50px;
    margin: auto;
    margin-bottom: $s2;
    @include bp($lg){
      max-width: 80px;
    }
  }
}

.card {
  display: block;
  position: relative;
  @include bp($lg){
    min-height: 440px;
  }
  @include bp($xxxl){
    min-height: 380px;
  }

  &--sm {
    @include bp($lg){
      min-height: 440px;
    }
  }
  &__icon {
    width: 50%;
    max-width: 100px;
    margin: auto;
    margin-bottom: $s2;
  }
  &__content {
    text-align: center;
  }
}
