// general styles for the project that wouldn't be a reuseable component

.hideApp {
  body.fromApp & { display: none; }
}




.billboard {
  &__icon {
    width: 30%;
    max-width: 50px;
    margin: auto;
    margin-bottom: $s2;
    @include bp($lg){
      max-width: 80px;
    }
  }
}

.card {
  display: block;
  position: relative;
  @include bp($xxl){
    display: flex;
    min-height: 420px;
  }

  &__icon {
    width: 50%;
    max-width: 100px;
    margin: auto;
    margin-bottom: $s2;
  }
  &__content {
    text-align: center;
    @include bp($xxl){
      align-self: center;
    }
  }
}
