// general styles for the project that wouldn't be a reuseable component

.billboard {
  &__icon {
    width: 30%;
    max-width: 50px;
    margin: auto;
    margin-bottom: $s2;
    @include bp($lg){
      max-width: 80px;
    }
  }
}

.card {
  display: block;
  position: relative;
  &:before {
    content: '';
    display: block;
    width: 100%;
  }
  &--lg {
    @include bp($lg){
      &:before { padding-top: 125%; }
    }
    @include bp($xxl){
      &:before { padding-top: 100%; }
    }
    @include bp($xxxl){
      &:before { padding-top: 75%; }
    }
  }
  &--sm {
    @include bp($lg){
      &:before { padding-top: 125%; }
    }
    @include bp($xxl){
      &:before { padding-top: 100%; }
    }
    @include bp($xxxl){
      &:before { padding-top: 125%; }
    }
  }
  &__icon {
    width: 50%;
    max-width: 100px;
    margin: auto;
    margin-bottom: $s2;
  }
  &__content {
    text-align: center;
    @include bp($lg){
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: $z-content-upper;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
  }
}
